@model POSTCP.Web.ViewModels.CP01.CP0101SAV.CP010102SAVViewModel
　
@using (Html.BeginForm())
{
    <table class="layouttable">
        <tr>
            <th>
                @Html.EditorFor(model => model.FLD00001, "Label")
            </th>
            <td colspan="3">
                @Html.EditorFor(model => model.FLD00001)
            </td>
            <th>
                @Html.EditorFor(model => model.FLD00007, "Label")
            </th>
            <td>
                @Html.EditorFor(model => model.FLD00007)
            </td>
            <th>
                @Html.EditorFor(model => model.FLD00011, "Label")
            </th>
            <td>
                @Html.EditorFor(model => model.FLD00011)
            </td>
        </tr>
        <tr>
            <th>
                @Html.EditorFor(model => model.FLD00004, "Label")
            </th>
            <td>
                @Html.EditorFor(model => model.FLD00004)
            </td>
            <th>
                @Html.EditorFor(model => model.FLD00006, "Label")
            </th>
            <td>
                @Html.EditorFor(model => model.FLD00006)
            </td>
            <th>
                @Html.EditorFor(model => model.FLD00008Start, "Label")
            </th>
            <td>
                @Html.EditorFor(model => model.FLD00008Start)
            </td>
            <th>
                @Html.EditorFor(model => model.FLD00008End, "Label")
            </th>
            <td>
                @Html.EditorFor(model => model.FLD00008End)
            </td>
        </tr>
    </table>
　
    @Html.Partial("_QueryButtonPanel")
}
　
@Html.DisplayFor(model => model.Grid)
　
<script type="text/javascript">
    $P.registerCustomValidFn(function (formData) {
        var fld00001SVal = $("#FLD00001_StartDate").val();
        var fld00001EVal = $("#FLD00001_EndDate").val();
        var dateS = new Date(parseInt(fld00001SVal.substring(0, 3)) + 1911, parseInt(fld00001SVal.substring(3, 5)) + 11, parseInt(fld00001SVal.substring(5, 7)) + 1);  //+12個月
        var dateE = new Date(parseInt(fld00001EVal.substring(0, 3)) + 1911, parseInt(fld00001EVal.substring(3, 5)) + 11, parseInt(fld00001EVal.substring(5, 7)) + 1);
　
        if (dateS < new Date() || dateE < new Date()) {
            alert("查詢一年以前的資料，需要稍久的查詢時間，請稍候。");
        }
    });
</script>